.about_us_container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;

  .content-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include breakpoint-down(medium) {
      width: 80vw;
    }

    .content-subcontainer {
      h2 {
        color: var(--lime-green);
      }

      p {
        width: 45rem;
        font-size: 16px;
        @include breakpoint-down(medium) {
          width: auto;
        }
      }

      &:nth-child(2),
      &:nth-child(4) {
        text-align: end;
      }
    }
  }
}
