.meal-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 4rem;

  p {
    @include breakpoint-down(small) {
      margin: 0 2rem;
    }
  }
}

.card {
  width: 20rem;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  transition: all 0.3s;
  background: var(--gray);
  justify-items: center;
  border-radius: var(--border-radius);
  min-height: 24rem;
  max-height: max-content;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: none;
  }

  &:hover {
    transform: scale(0.97);
  }

  @include breakpoint-down(small) {
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.card-image {
  height: 10rem;
  width: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
  position: relative;
  margin: 0 2rem;
}
.window {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #00000045;
  z-index: 999;
}

.window-content-container {
  display: grid;
  grid-template-columns: 20% 40% auto;
  justify-content: space-between;
  background: var(--gray);
  height: 100%;
  width: 80%;
  overflow-x: scroll;
  position: absolute;
  color: var(--white);
  padding: 1rem;

  @include breakpoint-down(medium) {
    width: 90%;
  }

  .close-btn {
    display: none;
    @include breakpoint-down(small) {
      display: block;
      margin-left: auto;
    }
  }

  @include breakpoint-down(small) {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
  }

  .first-container {
    @include breakpoint-down(small) {
      order: 2;
    }
  }

  .second-container {
    @include breakpoint-down(small) {
      order: 1;
    }
  }

  .nutrition-container {
    @include breakpoint-down(small) {
      order: 3;
    }
  }
}

.nutrients-row-container {
  display: flex;
  justify-content: space-between;

  h4 {
    color: var(--lime-green);
  }
}

.nutrients-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-content {
  height: 53%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  width: 100%;
  .card-content-title {
    font-size: 26px;
    margin: 1rem 0;
    font-family: var(--serif-font);
  }
}
