.form-container {
  height: 100vh;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 40% auto;
  align-items: center;
  @include breakpoint-down(small) {
    display: flex;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  @include breakpoint-down(small) {
    width: 100vw;
    margin: 0 2rem;
  }
}

input {
  border-radius: var(--border-radius);
  background: none;
  border: 2px solid white;
  color: white;
  border-color: var(--light-gray);
  padding: 13px;
  font-size: 14px;
  font-family: var(--sans-serif-font);
}

.label-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 7px;

  span {
    text-transform: none;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

#male-radio,
#female-radio {
  display: none;
}

.gender-svgs {
  @include breakpoint-down(small) {
    display: none;
  }
}

.radio-container {
  display: flex;
  gap: 2rem;

  input {
    width: auto;
  }
}

.avatar-svgs {
  width: 4rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.unit-font {
  opacity: 0.7;
  text-align: end;
}

.input-container {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  justify-content: space-between;
}

.mobo-text-align-center {
  @include breakpoint-down(small) {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}
