header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.5rem 5rem;
  background: var(--gray);
  z-index: 100;
  transition: top 450ms;
  @include breakpoint-down(small) {
    padding: 0.6rem 2rem;
  }
}

nav {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-links {
  font-size: 15px;
  font-family: var(--sans-serif-font);
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--light-gray);
  opacity: 0.6;
  transition: all 0.1s;
  &:hover {
    opacity: 1;
  }
}

#navbar {
  @include breakpoint-down(small) {
    display: none;
  }
}

#navbar a.active {
  position: relative;
  opacity: 1;
  &::before {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    background: var(--lime-green);
    top: 45px;
    right: 1px;
  }
}

.hamburger-react {
  display: none;

  @include breakpoint-down(small) {
    display: block;
  }
}

.mobo-navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #00000045;
  z-index: 999;
  backdrop-filter: blur(1px);

  .mobo-navlinks {
    background: var(--gray);
    height: 35%;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    overflow-x: hidden;
    position: absolute;
    color: var(--white);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a.active {
      opacity: 1;
    }
  }
}
