@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --white: #ffffff;
  --charcoal: #1a1a1a;
  --lime-green: #bed081;
  --light-gray: #d4d4d4;
  --gray: #212121;
  --serif-font: "Frank Ruhl Libre", serif;
  --sans-serif-font: "Roboto", sans-serif;
  --border-radius: 6px;
}
